<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menüler</div>
                
                <a class="nav-link" asp-controller="Product" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-barcode"></i></div>
                    Ürünler
                </a>
               
                <a class="nav-link" asp-controller="Customer" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fa-regular fa-user"></i></div>
                    Müşteriler
                </a>
                <a class="nav-link" asp-controller="Category" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-list"></i></div>
                    Kategoriler
                </a>
                <a class="nav-link" asp-controller="Job" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-briefcase"></i></div>
                    Meslekler
                </a>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-plus"></i></div>
                    Yeni Girişler
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" asp-controller="Product" asp-action="AddProduct">Yeni Ürün Girişi</a>
                        <a class="nav-link" asp-controller="Customer" asp-action="AddCustomer">Yeni Müşteri Girişi</a>
                        <a class="nav-link" asp-controller="Category" asp-action="AddCategory">Yeni Kategori Girişi</a>
                        <a class="nav-link" asp-controller="Job" asp-action="AddJob">Yeni Meslek Girişi</a>
                    </nav>
                </div>
              
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-circle-info"></i></div>
                    Yardım
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            oznyprk
        </div>
    </nav>
</div>