@model Product

@{
    ViewData["Title"] = "AddProduct";
}


<form asp-controller="Product" asp-action="AddProduct" method="post">
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="ProductName">Ürün adı</label>
        <input asp-for="ProductName" type="text" class="form-control" id="productname">
    </div>
    <div class="form-group">
        <label asp-for="ProductPrice">Fiyat</label>
        <input asp-for="ProductPrice" type="text" class="form-control" id="productname">
    </div>
    <div class="form-group">
        <label asp-for="ProductStock">Stok</label>
        <input asp-for="ProductStock" type="text" class="form-control" id="productname">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Kaydet</button>
</form>
